= gitlab_ui_form_for @application_setting, url: network_admin_application_settings_path(anchor: 'js-protected-paths-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.gitlab_ui_checkbox_component :throttle_protected_paths_enabled,
        _('Enable rate limiting for requests to the specified paths'),
        help_text: _('Helps reduce request volume for protected paths.')
    .form-group
      = f.label :throttle_protected_paths_requests_per_period, 'Maximum requests per period per user', class: 'label-bold'
      = f.number_field :throttle_protected_paths_requests_per_period, class: 'form-control gl-form-input'
    .form-group
      = f.label :throttle_protected_paths_period_in_seconds, 'Rate limit period (in seconds)', class: 'label-bold'
      = f.number_field :throttle_protected_paths_period_in_seconds, class: 'form-control gl-form-input'
    .form-group
      = f.label :protected_paths, class: 'label-bold' do
        = _('Paths with rate limiting for POST requests')
      = f.text_area :protected_paths_raw, placeholder: '/users/sign_in,/users/password', class: 'form-control gl-form-input', rows: 10
    .form-group
      = f.label :protected_paths_for_get_request, class: 'label-bold' do
        = _('Paths with rate limiting for GET requests')
      = f.text_area :protected_paths_for_get_request_raw, class: 'form-control gl-form-input', rows: 10
      %span.form-text.text-muted
        - relative_url_link = 'https://docs.gitlab.com/omnibus/settings/configuration.html#configuring-a-relative-url-for-gitlab'
        - relative_url_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: relative_url_link }
        = _('All paths are relative to the GitLab URL. Do not include %{relative_url_link_start}relative URLs%{relative_url_link_end}.').html_safe % { relative_url_link_start: relative_url_link_start, relative_url_link_end: '</a>'.html_safe }

  = f.submit _('Save changes'), pajamas_button: true
