- add_to_breadcrumbs _("Labels"), group_labels_path(@group)
- breadcrumb_title _("New")
- page_title _("New Label")
- add_page_specific_style 'page_bundles/labels'

%h1.page-title.gl-font-size-h-display
  = _('New Label')

= render 'shared/labels/form', url: group_labels_path, back_path: @previous_labels_path
