- page_title _("New Label")
- add_page_specific_style 'page_bundles/labels'

%h1.page-title.gl-font-size-h-display
  = _('New Label')
= render 'shared/labels/form', url: admin_labels_path, back_path: admin_labels_path
