- add_to_breadcrumbs _("Labels"), project_labels_path(@project)
- breadcrumb_title _("New")
- page_title _("New Label")
- add_page_specific_style 'page_bundles/labels'

%h1.page-title.gl-font-size-h-display
  = _('New Label')

= render 'shared/labels/form', url: project_labels_path(@project), back_path: project_labels_path(@project)
